body {
    padding-top: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.err-validation {
    color: red;
}

#btnAddSender {
    margin-left: 25px;
}