<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru"
>
<head th:replace="fragments/headTag :: headTag"></head>
<body>
<div th:replace="fragments/header :: header">
    <p>
        header
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="newDocumentDto">
            <div th:if="${status != null}" class="alert alert-warning col-md-12" id="status">
                <p th:text="${status}">статус</p>
            </div>

            <form id="newDocumentDtoForm" class="mt-20"
                  th:object="${formData}"
                  th:action="@{/sender}"
                  th:method="post"
                  enctype="multipart/form-data"
            >
                <div class="mt-10">
                    <label for="doctype">Тип документа</label>
                    <input type="text" class="form-control statusField" id="doctype"
                           required
                           th:field="*{documentDto.doctype.title}"
                    />
                    <label class="err-validation"
                           th:if="${#fields.hasErrors('documentDto.doctype')}" th:errors="*{documentDto.doctype}">doctype Error</label>
                    <label class="err-validation"
                           th:if="${#fields.hasErrors('documentDto.doctype.title')}" th:errors="*{documentDto.doctype.title}">doctype.title
                        Error</label>
                </div>
                <div class="row mt-10">
                    <div class="col-md-8">
                        <label for="numDoc">Номер документа</label>
                        <input type="text" class="form-control statusField" id="numDoc" required
                               th:field="*{documentDto.number}"
                        />
                        <label class="err-validation"
                               th:if="${#fields.hasErrors('documentDto.number')}" th:errors="*{documentDto.number}">number Error</label>
                    </div>
                    <div class="col-md-4">
                        <label for="dateDoc">Дата документа</label>
                        <input type="date" class="form-control statusField" id="dateDoc" placeholder="Дата" required
                               th:field="*{documentDto.docDate}"
                        />
                        <label class="err-validation"
                               th:if="${#fields.hasErrors('documentDto.docDate')}" th:errors="*{documentDto.docDate}">docDate Error</label>
                    </div>
                </div>
                <div class="mt-10">
                    <label for="title">Заголовок</label>
                    <input type="text" class="form-control" id="title" required
                           th:field="*{documentDto.title}"/>
                    <label class="err-validation"
                           th:if="${#fields.hasErrors('documentDto.title')}" th:errors="*{documentDto.title}">title Error</label>
                </div>
                <div class="mt-10">
                    <label for="content">Краткое содержание</label>
                    <textarea type="text" class="form-control" id="content" rows="3"
                              th:field="*{documentDto.content}">
                            </textarea>
                </div>
                <div class="mt-10" id="signature">
                    <div class="row">
                        <div class="col-md-9">
                            <label>Подпись</label>
                        </div>
                        <div class="col-md-2">
                            <button type="button"
                                    class="btn-sm btn-secondary"
                                    id="btnAddSender">
                                Добавить
                            </button>
                        </div>
                    </div>
                    <div class="mt-10" id="senders" th:each="item, stat: *{documentDto.senders}">
                        <div class="row oneSender mt-10" id="sender0">
                            <div class="col-md-10">
                                <input type="text" class="form-control"
                                       th:field="*{documentDto.senders[__${stat.index}__].title}"/>
                                <label class="err-validation"
                                       th:if="${#fields.hasErrors('documentDto.senders['+stat.index+'].title')}"
                                       th:errors="*{documentDto.senders[__${stat.index}__].title}">
                                    sender.title Error
                                </label>
                            </div>
                            <div class="col-md-2">
                                <button type="button"
                                        class="btn-sm btn-secondary btnDeleteSender"
                                        onclick="btnDeleteSenderClick(this)"
                                >
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                    <label class="err-validation"
                           th:if="${#fields.hasErrors('documentDto.senders')}" th:errors="*{documentDto.senders}">senders Error
                    </label>
                </div>
                <div class=" custom-file mt-10
                                ">
                    <input type="file"
                           class="custom-file-input"
                           id="customFile"
                           th:field="*{uploadFile}"
                    />
                    <label class="custom-file-label" for="customFile">Загрузить файл</label>
                </div>

                <button type="submit" class="btn btn-secondary btn-block mt-20" id="submitBtn">Отправить
                </button>
            </form>
        </div>
        <div class="col-md-6" id="documents">
            <table class="table table-bordered mt-50">
                <tr>
                    <th scope="col">Документ</th>
                    <th scope="col">Номер</th>
                    <th>Дата</th>
                    <th>Заголовок</th>
                </tr>
                <tr th:each="document: ${documentDtoList}">
                    <td th:text="${document.doctype.title}"></td>
                    <td th:text="${document.number}"></td>
                    <td th:text="${document.docDate}"></td>
                    <td th:text="${document.title}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>

<script src="../static/js/jmsSenderJq.js"
        th:src="@{/js/jmsSenderJq.js}"></script>
</body>
</html>
