<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JMS Sender</title>
    <link href="../static/css/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="css/main.css" type="text/css">

    <script src="../static/js/jquery-3.5.1.min.js"
            th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light fixed-top bg-light">
            <span class="navbar-brand mb-0 h1">Репозиторий документов</span>
        </nav>
    </div>

    <div class="container">
            <h2>Hello JMS Sender</h2>
     </div>

    <div th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>
</body>
</html>
